*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  margin: 100px;
  padding: 100px;
  border: 1px solid gray;
}
.tabs{
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  border:1px solid tomato
}
.tab{
  background-color:tomato;
  color: white;
  padding:10px 100px;
}
.active-tab{
  background-color: red;
}
.content{
  display: none;
  position: relative;
}
.content{
  display: block;
  margin: 30px;
  transition: all ease-in-out;
}